.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 415px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 720px) {
    height: 255px;
  }
  img:hover {
    cursor: pointer;
  }
}

.accommodationArrowLeft {
  position: absolute;
  left: 0;
  margin-left: 20px;
  @media screen and (max-width: 720px) {
    height: 19.8px;
  }
}

.accommodationArrowRight {
  position: absolute;
  right: 0;
  margin-right: 20px;
  @media screen and (max-width: 720px) {
    height: 19.8px;
  }
}
