.locationHostContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  color: var(--primary);
  @media screen and (max-width: 720px) {
    flex-direction: column;
    padding: 15px 0px;
  }
}

.accommodationHeadings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accommodationTitles {
  @media screen and (max-width: 720px) {
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 14px;
    }
  }
}

.accommodationTags {
  display: flex;
  @media screen and (max-width: 720px) {
    padding: 15px 0px;
  }
}

.detailsAccommodationContainer {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 30px;
  @media screen and (max-width: 720px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  li {
    width: 50%;
    margin: 30px 0px;
    @media screen and (max-width: 720px) {
      width: 100%;
      margin: 10px 0px;
    }
  }
}
.equipementsList > li {
  font-size: 18px;
  font-weight: 400;
  padding: 0px;
  margin: 2px;
}
