.collapseContainer {
  margin: 30px 100px;
  @media screen and (max-width: 720px) {
    margin: 30px 0px;
  }
}

.collapseTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  color: var(--secondary);
  background-color: var(--primary);
  padding: 15px;
  &:hover{
    cursor: pointer;
  }
  @media screen and (max-width: 720px) {
    padding: 5px;
    h2 {
      font-size: 13px;
    }
  }
  img {
    height: 14.06px;
    cursor: pointer;
    @media screen and (max-width: 720px) {
      height: 7px;
      padding-right: 5px;
      width: auto;
    }
  }
}

.collapseDetails {
  background-color: var(--lightGrey);
  padding: 40px 20px;
  font-size: 24px;
  color: var(--primary);
  @media screen and (max-width: 720px) {
    padding: 18px 20px 50px 20px;
    p {
      font-size: 12px;
      margin: 0px;
    }
  }
}
