.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 25px;
  height: 223px;
  h1 {
    font-size: 48px;
    color: var(--secondary);
  }
}
